* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    background: url(scooter.jpg) center center no-repeat fixed;
    background-size: cover;
}

body {
    padding: 0;
    margin: auto;
    max-width: 100%;
    font-family: sans-serif;
    color: white;
    justify-content: center;
}

header {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-variant-caps: all-small-caps;
    color: black;
    text-shadow: 0 0 10px white;
    position: fixed;
    top: 0;
    width: 100%;

	animation-name: backgroundColorPalette;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
    box-shadow: rgb(0 0 0 / 12%) 0px 10px 15px 0px; 
    opacity: 90%; 
}

header:hover {
    text-decoration: underline;
}

header:hover {
    opacity: 100%;
}

@keyframes backgroundColorPalette {
	0% {
		background: #AB702C;
	}
	25% {
		background: #D1E22B;
	}
	50% {
		background: #A854A6;
	}
	75% {
		background: #6573BC;
	}
	100% {
		background: #72CB0B;
	}
}

.things {
    height: 100vh;
    background: url(things.jpg) center center no-repeat;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-rows: (5, 1fr);
}

.hero_things {
    height: 340px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.scooter {
    background-color: rgba(0, 0, 0, 0.425);
    margin: 500px 0;
}

blockquote {
    display: grid;
    justify-items: flex-end;
    font-size: xx-large;
    font-weight: 700;
    text-shadow: 0 0 4px black;
}

blockquote > footer {
    background: inherit;
    color: inherit;
    font-size: large;
}

h2 {
    display: flex;
    justify-content: center;
    background: white;
    color: black;
    padding-top: 100px;
    margin: 0;
    font-size: xx-large;
    font-weight: 700;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: white;
    padding: 10px 50px;
    color: white;
}

.column {
    font-weight: 400;
    background-repeat: no-repeat;
    transition: transform 300ms, box-shadow 300ms, font 300ms;
}

.column > .img {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    padding: 12px;
    font-weight: 500;
}

.column:hover {
    transform: scale(1.1);
    font-size: larger;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

.img {
    display: block;
    margin: 24px;
    height: 300px;
    width: auto;
    border-radius: 4px;
    box-shadow: 15px 15px 30px #999999;
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: center center; 
}

.img.input {
    display: flex; 
    align-items: flex-end;
    flex-direction: column;
    justify-content: end;
}


.fire {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.5)), url(fire.jpg);
}
.wind {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.5)), url(wind.jpg);
}
.water {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.5)), url(water.jpg);
}
.earth {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.5)), url(earth.jpg);
}
.img.input {
    background-image: linear-gradient(to bottom left, #e79e00, #BE63A5, #7179E1);
}

.question {
    margin: 8px 0;
}

input {   
    outline: none;
    border: solid grey 1px;
    border-radius: 5px;
    width: 100%;
    padding: 6px;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.5);
}

input:valid {
    background-color: #E7FFD8;
}

.container > footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 60px;
    background: white;
    color: grey;
    padding: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0) -17%, rgba(0, 0, 0, 0.2));
}

i {
    margin: 0 6px;
}